<mat-card class="container">
    <form id="todoForm" [formGroup]="todoForm">
        <div class="todoForm-container">
            <mat-form-field>
                <mat-label>Todo</mat-label>
                <textarea type="text" id="todo" matInput placeholder="type your todo" (keyup)="validate()" formControlName="newTodo"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onClick()" [disabled]="todoForm.invalid">add todo</button>
        </div>

        <div id="errorBox" class="error" *ngIf="newTodo?.invalid && newTodo?.touched">
            New todo should be at least 6 har long!
        </div>

    </form>

    <div class="todoList_container">
        <div class="todoList" *ngFor="let todo of todoList; let i = index" (dblclick)="addCompleted(i)">
            <mat-card>
                <mat-card-subtitle>{{i}}</mat-card-subtitle>
                <mat-card-content [ngClass]="{'completed': todo.isCompleted}">{{todo.body}}</mat-card-content>
            </mat-card>
            <div class="todoList-icons">
                <mat-icon class="todoList-icons_edit" [routerLink]="['/edit', todo.id]">edit</mat-icon>
                <mat-icon class="todoList-icons_delete" (click)="deleteTodo(todo.id)">delete_forever</mat-icon>
            </div>
        </div>
    </div>
</mat-card>

