.container {
    width: 50%;
    margin: 0 20px 0 50px
}

.todoList {
    margin-top: 40px;
}

.todoList mat-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: lightcyan;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.error {
    color: red;
    font-size: 10px;
    margin-top: 0;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    border-left: 5px solid red;
    outline: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid lime;
    border-left: 5px solid lime;
}

.completed {
    text-decoration: line-through;
}