@media all and (max-width: 414px){
    .container {
        width: 80%;
        margin: 30px auto;
        background-color: #E8A87C;
    }

    #todoForm{
        width: 80%;
        margin: 0 5px;
    }

    .todoForm-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 120%;
    }

    .todoForm-container mat-form-field {
        width: 90%;
    }

    .todoForm-container button {
       margin-left: 20px;
        width: 250px;
    }

    .todoList_container {
        margin-top: 10px;
    }

    .todoList{
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .todoList-icons{
        display: flex;
        flex-direction: column;
    }

    .todoList mat-card {
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        background-color: #C38D9D;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .todoList mat-card mat-card-subtitle {
        width: 20px;
        margin: auto 0;
    }

    .todoList-icons_edit, .todoList-icons_delete{
        cursor: pointer;
        padding: 2px;
    }

    .error {
        color: #F44336;
        font-size: 12px;
        margin-top: 5px;
    }

    input.ng-invalid.ng-touched {
        border: 2px solid #F44336;
        border-left: 6px solid #F44336;
        outline: 2px solid #F44336;
    }

    input.ng-valid.ng-touched {
        border: 2px solid #40B3A2;
        border-left: 6px solid #40B3A2;
        outline: 2px solid #40B3A2;
    }

    .completed {
        text-decoration: line-through;
    }

}