<mat-card class="container">
    <form id="todoForm" [formGroup]="todoForm">

        <label for="todo">Todo</label>
        <input type="text" id="todo" placeholder="type your todo" (keyup)="validate()" formControlName="newTodo">
        <button mat-raised-button color="primary" (click)="onClick()" [disabled]="todoForm.invalid">add todo</button>

        <div id="errorBox" class="error" *ngIf="newTodo?.invalid && newTodo?.touched">
            New todo should be at least 6 har long!
        </div>

    </form>

    <div class="todoList">
        <mat-card *ngFor="let todo of todoList; let i = index" (dblclick)="addCompleted(i)">
            <mat-card-subtitle>{{i}}</mat-card-subtitle>
            <mat-card-content [ngClass]="{'completed': todo.isCompleted}">{{todo.body}}</mat-card-content>
            <button class="edit-btn"
                    mat-raised-button
                    color="accent"
                    routerLink="/edit"
                    > edit </button>
            <button class="delete-btn" mat-raised-button color="warn" (click)="deleteTodo(todo.id)"> delete </button>
        </mat-card>
    </div>
</mat-card>

